@model PetApiClient.Appointment

@{ 
    ViewBag.Title = "Atención de cita";
}

<div>
    <h2>Atención de cita</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Código
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdAppointment)
        </dd>

        <dt>
            Fecha
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppointmentDate)
        </dd>

        <dt>
            Motivo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
    </dl>
    <hr />
    <h2>Datos de la mascota</h2>
    <dl class="dl-horizontal">
        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pet.Fullname)<br />
            @Html.ActionLink("Ver perfil", "Index", "Pet", new { id = Model.IdPet }, new { })
        </dd>

        <dt>
            Fecha de nacimiento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pet.Birthday)
        </dd>

        <dt>
            Raza
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pet.Breed)
        </dd>
    </dl>
    @Html.ActionLink("Registrar atención", "Create", "ClinicHistory", new { petId = Model.IdPet }, new { @class = "btn btn-default" })
</div>
