@model PetApiClient.Pet

@{ 
    ViewBag.Title = $"{Model.Fullname} - Perfil";
}
<div>
    <h2>@Model.Fullname</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Código
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdPet)
        </dd>

        <dt>
            Nacimiento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birthday)
        </dd>

        <dt>
            Raza
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Breed)
        </dd>

        <dt>
            Color
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            Dueño
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner.Fullname)
        </dd>

        <dt>
            Contacto dueño
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner.Phone)
        </dd>
    </dl>
</div>
<br />
<h3>Historial clínico</h3>
<table class="table">
    <tr>
        <th>
            Código
        </th>        
        <th>
            Diagnóstico
        </th>
        <th>
            Fecha de baja
        </th>
        <th>
            Fecha de alta
        </th>
        <th>
            Veterinario
        </th>
        @*<th>
            Clínica
        </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model.Histories)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdHistory)
            </td>            
            <td>
                @Html.DisplayFor(modelItem => item.Diagnostic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DischargeDate)
            </td>            
            <td>
                @Html.DisplayFor(modelItem => item.Vet.Firstname)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Clinic?.Name)
            </td>*@
            <td>
                @Html.ActionLink("Vet detalle", "Details", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
<br />
